/* Base styles (extra small devices - mobile) */
/* CSS rules */

/* Small devices (tablets) */
@media screen and (min-width: 576px) {

    /* CSS rules */
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    #navbar {
        padding: 8px;
        margin: 0;
        
    }

    #logo {
        height: 50px;
        /* width: 100px; */
    }
    

}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
    #logo{
        height: 50px;
    }
    /* CSS rules */
}

/* Large devices (desktops) */
@media screen and (min-width: 992px) {
    /* CSS rules */
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {

    /* CSS rules */
    html {
        font-size: 25px;
    }
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #222222;
}

a {
    text-decoration: none;
    color: #3B82F6;
}

a:hover,
a:focus {
    color: #1D4ED8;
}